.card {
    background-color: var(--white);
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-dark);
    margin-bottom: 1.5rem;
}

.content {
    color: var(--text-gray);
    line-height: 1.6;
}

.content p {
    margin-bottom: 1.5rem;
}

.content p:last-child {
    margin-bottom: 0;
}