:root {
  --primary: #A0C4FF;
  --background-light: #F8F9FA;
  --background-dark: #102218;
  --heading-dark: #3D405B;
  --text-light: #6C757D;
  --white: #FFFFFF;
  --font-inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-inter);
  background-color: var(--background-light);
  color: var(--text-light);
}

a {
  color: inherit;
  text-decoration: none;
}