.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem 4rem;
}

.mainGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}

@media (max-width: 900px) {
  .mainGrid {
    grid-template-columns: 1fr;
  }
}