.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem 6rem;
}

.mainGrid {
  column-count: 3;
  column-gap: 2rem;
  margin-bottom: 4rem;
}

.contentColumn {
  display: contents;
}

@media (max-width: 1200px) {
  .mainGrid {
    column-count: 2;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem 4rem;
  }

  .mainGrid {
    column-count: 1;
  }
}