.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: var(--background);
}

.logo {
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--text-dark);
}

.links {
    display: flex;
    gap: 2rem;
}

.link {
    color: var(--text-gray);
    font-size: 0.9rem;
    font-weight: 500;
    transition: color 0.2s;
}

.link:hover {
    color: var(--primary-blue);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .links {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}